<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Delete Addresses</title>
</head>

<body>

  <form action="/addresses/delete/<%=dataRows[0].id%>" method="post">
    <input type="text" name="street"  readonly value="<%=dataRows[0].street%>"><br>
    <input type="text" name="city" readonly value="<%=dataRows[0].city%>"><br>
    <input type="text" name="zipcode" readonly value="<%=dataRows[0].zipcode%>"><br>
    <input type="submit" value="Delete Addresses">
  </form>



</body>

</html>
