<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Delete Groups</title>
</head>

<body>

  <form action="/groups/delete/<%=dataGroups[0].id%>" method="post">
    <input type="text" name="name_of_group"  readonly value="<%=dataGroups[0].name_of_group%>"><br>
    <input type="submit" value="Delete Groups">
  </form>

</body>

</html>
