<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>List Groups</title>
</head>

<body>
  <a href="/">Back to main</a><br><br>
  <table style="width:50%" border="1px thin black">
    <tr>
      <th>id</th>
      <th>name_of_group</th>
    </tr>
    <% for (let i=0 ; i < dataGroups.length ; i++) {%>
      <tr>
        <td>
          <%=dataGroups[i].id%>
        </td>
        <td>
          <%=dataGroups[i].name_of_group%>
        </td>

        <td>
          <a href="/groups/edit/<%=dataGroups[i].id%>">edit</a>
        </td>
        <td>
          <a href="/groups/delete/<%=dataGroups[i].id%>">delete</a>
        </td>
      </tr>
      <%}%>
  </table>


  <form action="/groups" method="post">
    <input type="text" name="name_of_group" placeholder="Group Name"><br>
    <input type="submit" value="Add Groups">
  </form>



</body>

</html>
