<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iContacts</title>
  </head>
  <body>
    <h2>Welcome to iContacts</h2>
    <a href="/contacts">Contacts</a>
    <a href="/groups">Groups</a>
    <a href="/addresses">Addresses</a>
    <a href="/profiles">Profiles</a>
  </body>
</html>
